@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');



/* ---------------------------------------------- Specials */

h1,h2,h3,h4 {
    font-family: "Robboto", sans-serif;
    margin: 0;
    color: #995a33;
    font-weight: 400;
}

ul,ol {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-size: 10px;
    text-decoration: none;
}

.float_left {
    position: relative;
    float: left;
}

.float_right {
    position: relative;
    float: right;
}

.italic {
    font-style: italic;
}

a {
    text-decoration: none;
    color:#fafafa; 
}

a:hover 
{
     color:#fafafa; 
     text-decoration:none; 
     cursor:pointer;  
}

/* ---------------------------------------------- Header */ 

header {
    margin: 0;
    display: block;
}

.row {
    margin: 0;
}

header .row {
    flex-wrap: nowrap;
}

.logo {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 54px;
    max-width: 100px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.header {
    z-index: 1;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: #fafafa
}

.navbar {
    position: relative;
    float: right;
}


/* ---------------------------------------------- Index */ 

#main-1 {
    min-height: 500px;
    margin-top: 55px;
}

#main-1-picture {
    background: url("../images/rsz_main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    min-height: 500px;
}

#main_1-5 {
    margin-top: 45px;
    text-align: center;
}


#main-2 {
    margin-top: 45px;
    float: none;
    text-align: center;
}

#main-2 .row {
    margin-bottom: 45px;
    float: none;
    display:block;
}

#index_rissalah_school2 {
    min-height: 150px;
    max-height: 360px;
    max-width: 75%;
}


#index_prayer {
    min-height: 150px;
    max-height: 360px;
    max-width: 75%;
}

#index_gallery {
    min-height: 150px;
    max-height: 360px;
    max-width: 75%;
}

#main_2.5-quote p {
    margin-top: 22.5px;
}

#main-3 img{
    display: block;
    margin: 45px auto 22.5px auto;
    max-height: 360px;
    min-height: 241px;
    width: 75%;
}

#button-main-3 {
    text-align: center;
}

#main-3 p {
    text-align: center;
}


/* ---------------------------------------------- Ressala */

.div-ressala {
    margin-top: 22.5px;
    text-align: center;
}

.headder-ressala, .h3-ressala {
    color: #995a33;
}

.headder-ressala {
    margin-top: 45px;
    text-align: center;
    font-family: "Exo", sans-serif;
    font-weight: 100;
}

.headder-ressala h2 {
    font-weight: 200;
}

.h3-ressala {
    font-family: "Robboto", sans-serif;
    margin-top: 45px;
    margin-bottom: 11.25px;
    text-align: center;
}
.h3-ressala ul,li {
    margin-top: 11.25px;
}

#button_enroll_school {
    margin-top: 45px;
    text-align: center;
}


/* ---------------------------------------------- Prayer */ 


#prayer_iqama {
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#prayer_iqama h1 {
    margin-bottom: 22.5px;
}

#prayer_download_current {
    margin-top: 22.5px;
    margin-bottom: 45px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


/* ---------------------------------------------- Gallery */ 


.gallery_masonry {
    clear: both;
    line-height: 0;
    column-gap: 0px;
    column-gap: 0px;
    column-count: 3;
}

.gallery_masonry img {
  width: 100% !important;
  height: auto !important;
}

@media screen and (max-width: 880px) {
    .gallery_masonry {
        column-count: 2;
    }
}


.gallery_h1 {
    margin-top: 45px;
    margin-bottom: 22.5px;
    color: #995a33;
}


/* ---------------------------------------------- About */ 

#about_picfront {
    max-width: 100%;
}


#about_h1 {
    margin-top: 45px;
    margin-bottom: 22.5px;
}

#about_info {
    text-align: center;
    margin-top: 45px;
}

#about_info p{
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 27.5px;
}


/* ---------------------------------------------- Contact */ 


#contact_h1 {
    margin-top: 45px;
    margin-bottom: 22.5px;
    font-family: "Roboto", sans-serif;
}

#contact_form label{
    font-family: "Exo", sans-serif;
}

#contact_btn_submit {
    margin: 0 auto 15px auto;
    text-align: center;
}

#contact_btn_submit button{
    min-width: 75%;
}

#contact_form p {
    font-size: small;
}

#contact_form label {
    font-family: "Roboto", sans-serif;
    margin-top: 22.5px;
}


/* ---------------------------------------------- Footer */ 

footer {
    margin-top: 45px;
    background-color: #525252;
    color: #fafafa;
    min-height: 45px;
    text-align: center;
}

footer h5 {
    margin-top: auto;
    line-height: 45px;
    font-family: "Robboto", sans-serif;
    font-weight: 200;
    font-size: 15px;
}

footer a:hover {
    color: #fafa;
}

.icon {
    letter-spacing: 5px;
}

.icon i {
    line-height: 45px;
    font-size: 22.5px;
}

