/* ---------------------------------------------- backgroud */ 

#logo-div{
    float: left;

}

#logo-logo {
    height: 75px;
    width: 125px;
    border-radius: 50%;
}

#nav {
    float: right;
}

#main-1 {
    background: url(../images/cropped-banner01-04_orig.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

#main-2 {
    display: inline;
    text-align: center;
}

#main-2 div {
    float: left;
    width: 20%;
    margin-left: 10%;
}

#main-2 div:after {
    clear: both;
    display: table;
    content: "";
}


