@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');



/* ---------------------------------------------- Specials */

* {
    font-family: "Robboto", sans-serif;
}

h1,h2,h3,h4 {
    margin: 0;
    color: #995a33;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.general-sub {
    font-family: "Exo", sans-serif;
}

/* ---------------------------------------------- Header */ 

header {
    margin: 0;
    display: block;
}

.row {
    margin: 0;
}

header .row {
    flex-wrap: nowrap;
}

.logo {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 54px;
    max-width: 100px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.header {
    z-index: 1;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: #fafafa
}

.navbar {
    position: relative;
    float: right;
}


/* ---------------------------------------------- Index */ 

#main-1 {
    min-height: 500px;
    margin-top: 55px;
}

#main-1-picture {
    background: url("../images/rsz_main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    min-height: 500px;
}

#main-2 {
    margin-top: 45px;
    float: none;
    text-align: center;
}


#main-3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    max-height: 350px;
    min-height: 241px;
    min-width: 75%;
}

#button-main-3 {
    margin-top: 45px;
    text-align: center;
}


/* ---------------------------------------------- Ressala */

.div-ressala {
    margin-top: 45px;
    text-align: center;
}

.headder-ressala, .h3-ressala {
    color: #995a33;
}

.headder-ressala {
    margin-top: 45px;
    text-align: center;
    font-family: "Exo", sans-serif;
    font-weight: 100;
}

.headder-ressala h1 {
    font-weight: 600;
}

.headder-ressala h2 {
    font-weight: 300;
}

.h3-ressala {
    font-family: "Robboto", sans-serif;
    margin-top: 45PX;
}

#button_enroll_school {
    margin-top: 45px;
    text-align: center;
}


/* ---------------------------------------------- Prayer */ 

#Prayer_time {
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    max-width: 75%;
}

#prayer_iqama {
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#prayer_download_current {
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
/* ---------------------------------------------- Gallery */ 


.gallery_masonry {
    clear: both;
    line-height: 0;
    column-gap: 0px;
    column-gap: 0px;
    column-count: 3;
}

.gallery_masonry img {
  width: 100% !important;
  height: auto !important;
}

@media screen and (max-width: 880px) {
    .gallery_masonry {
        column-count: 2;
    }
}

.gallery_h1 {
    margin-top: 45px;
    color: #995a33;
}


/* ---------------------------------------------- About */ 

#about_picfront {
    max-width: 100%;
}


#about_h1 {
    margin-top: 45px;
}

#about_info {
    text-align: center;
    margin-top: 45px;
}

#about_info p{
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 27.5px;
}


/* ---------------------------------------------- Contact */ 


#contact_h1 {
    margin-top: 45px;
    font-family: "Roboto", sans-serif;


}

#contact_form label{
    font-family: "Exo", sans-serif;
    margin-top: 27.5px;
}

#contact_btn_submit {
    margin: 40px auto 15px auto;
    min-width: 75%;
}

/* ---------------------------------------------- Footer */ 

footer {
    margin-top: 45px;
    background-color: #525252;
    color: #fafafa;
    min-height: 54px;
}